h2{
    margin-left: 15%;
    font-family: serif;
    color:aquamarine;
    letter-spacing: 3px;
}
p{
    font-size: x-small;
    margin-left: 15%;
    margin-right: 15%;
}
.right{
    text-align: end;
    margin-right: 15%;
}
@media (max-width: 1024px){
    header{
        background-color:cadetblue
    }
}
@media (max-width: 768px){
    header{
        background-color:chocolate
    }
}
@media (max-width: 480px){
    header{
        background-color:indianred
    }
}